/*body*/
.cuerpo {
    font-family: Arial, sans-serif;
    background: url(fondo.jpg) no-repeat;
    margin: 0;
    background-position: center;
}

/*header de barra de menu*/
.barra {
    background: hsl(288, 70%, 20%, 50%);
    color: white;
    padding: 15px;
    text-align: center;
    z-index: 99;
}

/*h1 dentro de barra de menu*/ 
.nombre_empresa {
    font-family: "zapf Chancery", cursive;
}

/*lista de los enlaces em la barra de menu*/
.navegador .lista {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

/*enlaces de la barra de menu*/
.enlaces {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.enlaces:hover {
    color: #2c1972;
}

/*formulario de registro*/
.formulario_Registro {
    background: hwb(290 11% 59% / 0.2%);
    width: 300px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 20);
}
 
/*titulo de formulario de registro*/
.titulo {
    text-align: center;
}

/*input las preguntas del formulario de registro*/
.preguntas {
    width: 93%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/*boton de registro*/
.btn_registro {
    width: 100%;
    padding: 10px;
    background: hsl(268, 70%, 17%, 70%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn_registro:hover {
    background: #270663;
}

.enlace {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.error {
    color: red;
    font-size: 12px;
}

.exito {
    color: green;
    text-align: center;
}

/*modificacion para las pantallas*/
@media (max-width: 1800px){
    .nombre_empresa {
        font-size: 20px;
    }

    .navegador .lista {
        flex-direction: column;
        align-items: center;
        gap: 15px
    }

    .formulario_Registro {
        width: 80%;
        padding: 20px;
    } 
}

@media (max-width: 1920px){

    .navegador .lista {
        align-items: center;
        gap: 15px
    }

    .formulario_Registro {
        width: 80%;
        padding: 20px;
    } 
}